@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  height: auto;
  width: auto;
  font-family: 'SourceSansPro';
  background-color: #FFFFFF;
}

body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

div.title { 
	color: white; padding: 3%; margin-bottom: 1.3em; 
	}

.border{
	background: linear-gradient(to right, #49B9BB, #C1F1CA);
	width:auto;
	height:70px;
}

.test{
	width:280px;
	padding: 15px;
	margin-left: 10px;
}

.chart3{
vertical-align: middle
}